link(rel='stylesheet', href='/css/styles.css')
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
link(href="https://fonts.googleapis.com/css?family=Quicksand", rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Kalam:400,700", rel="stylesheet")