doctype html
html(lang='en')
  head
    meta(charset='UTF-8',name="viewport", content="width=device-width, initial-scale=1")
    title LOGIN APP
    include includes/styles
  body
    .container
      block content
    include includes/scripts