extends ../layout
block content
    #container.row.col-md-offset-4.col-md-4
      h1.projectNameDone DONE  
      ul.row.col-md-offset-1.col-md-11
        each complete in completed
          li
            p.title.taskDone= complete.title
            p.date= complete.createdAt
            button.remove.bDone(value=complete._id) Remove
        a(href='/tasks/') 
          button.completed Go to task List
        a(href='/logout/')
         button.logout LogOut