extends ../layout
block content
  h1 welcome
  h2 you're logged as #{userLogin} 
  a(href='/logout/')
    button.btn.btn-default.btn-sm(type="button")
      span.glyphicon.glyphicon-log-out
      |  Log out